/*page css pour les body de Accueil */

body{
    margin: 0;
}

.vertical {
    display:flex;
    flex-flow: column nowrap;
}

.horizontal{
    display:flex;
    flex-flow: row nowrap;
    background-color: rgb(68,57,97);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    padding: 1em;
    margin: 3% 0 3%;
}

.zone_text {
    width: 95%;
    padding: 1em;
}