/*Fichier CSS pour le body*/

body{
    margin: 0;
    background-color:#00091A;
    background-image: url("img/background_img.png");
}

h1{
    color: white;
    font-family: Helvetica, sans-serif;
}
  
h2{
    color: white;
    font-family: Helvetica, sans-serif;
}

h3{
    color: white;
    font-family: Helvetica, sans-serif;
}

p{
    color: white;
    font-family: 'Raleway', sans-serif;
}
