.vertical {
    display: flex;
    flex-flow: column nowrap;
  }
  
  .bureau h2, .membres h2 {
  text-align: left;
  width: 100%;
  }

  .trois_blocks {
    justify-content: center;
    display: flex;
  }

  .trois_blocks_couleur {
    justify-content: center;
    display: flex;
    background-color: #443961;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  
  .image_qui_bureau {
    margin: auto;
    background-color: #443961;
    color: white;
    flex-direction: row;
    justify-content: space-between;
  }

  .image_qui_membre {
    margin: auto;
    background-color: #443961;
    color: white;
    flex-direction: row;
    justify-content: space-between;
  }

  .image_qui_bureau img {
    width: 150px;
    height: 150px;
  }

  .image_qui_membre img {
    width: 250px;
    height: 150px;

  }
    
    footer {
  background-color: #00091A;
  color: #F4AAA1;
  }
