header {
    background-color: #00091A;
    color: #F4AAA1;
    font-family: Helvetica, sans-serif;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
    align-items: center;
  }
  
  nav ul li {
    flex: 1;
    text-align: center;
  }
  
  nav ul li a {
    color: #F4AAA1;
    text-decoration: none;
    display: block;
    padding: 10px;
  }
  
  nav ul li.logo {
    flex: 0.5;
    text-align: center;
  }
  
  nav ul li.logo img {
    width: 100%;
  }
  
  
  body{
    background-color:#00091A;
    background-image: url("img/background_img.png");
    color: #FFFFFF;
  }
  
  footer {
    background-color: #00091A;
    font-family: Helvetica, sans-serif;
  
  }
  
  p{
    color: white;
    font-family: 'Raleway', sans-serif;
  }

  h1{
    color: #F4AAA1;
    font-family: Helvetica, sans-serif;
  }
  
  h2{
    color: white;
    font-family: Helvetica, sans-serif;
  }

  h3{
    color: white;
    font-family: Helvetica, sans-serif;
  }
