.choix_filtres_ordi {
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #443961;
  margin-top: 2em;
  margin-bottom: 2em;
}

.style_filtre {
    display: inline-block;
    list-style-type: none;
    background-color: #968B93;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    border-style: none;
    font-weight: bold;
}

/* pour ajouter un effet de style quand la souris passe au dessus des boutons de filtre */
.style_filtre:hover,
.style_filtre:focus {
  transform: translateY(-0.25em);
}

.filtre {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.carrousel_principal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.principal_carrousel-prev,
.principal_carrousel-next {
  margin: 1em;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: white;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
}


.trois_blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
}

.slide_images_secondaire_0,
.slide_images_secondaire_1,
.slide_images_secondaire_2,
.slide_images_secondaire_3,
.slide_images_secondaire_4,
.slide_images_secondaire_5 {
  background-color: #443961;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1em;
}

.resize_img {
  width: 300px;
}

.carrousel_secondaire {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrousel_prev,
.carrousel_next {
  margin: 1em;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: white;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
}

/* bouton filtre */
.tel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /*width: 100%;*/
  position: relative;
  margin-left: 50px;
  margin-top: 2em;
  margin-bottom: 1em;
  z-index: 1;
  /*élèment au premier plan, arrière-plan, milieu plan, etc ... 0 background - 1, 2, 3 etc plus en plus haut*/
}

.tel input

/*activation/désactivation menu avec boite à cocher (invisible)*/
  {
  /*taille et position boite à cocher*/
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -3px;
  left: -1px;

  /*manière dont activer/désact boite*/
  cursor: pointer;

  opacity: 0;
  /*boite invisible*/
  z-index: 2;
  /*boite au premier plan pour tjrs etre accessible*/
}

.tel input:checked~ul {
  transform: none;
}

.filtre_image {
  position: sticky;
  color: #F4AAA1;
  font-size: 2em;
  z-index: 1;
}

.filtre_image a {
  color: #F4AAA1;
}

.filtre_deroule {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100vw;
  /*100% pour prendre la moitié de l'écran (nav parent 50% écran)*/
  z-index: 1;

  position: absolute;
  margin: 0 0 0 -50px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-top: 80px;

  background-color: rgba(0, 9, 26, 0.9);
  ;
  list-style-type: none;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  transform: translate(-100%, 0);

}

.toggle_filtres:checked~.choix_filtres_tel .filtre_deroule {
  transform: none;
}

.filtre_deroule li {
  /*padding: 10px 0;*/
  font-size: 1.2em;
  font-family: Helvetica, sans-serif;
}

.filtre_deroule a {
  color: #F4AAA1;
}

header {
  z-index: 2;
}

main {
  z-index: 1;
}

@media (max-width: 950px) {
  .ordi {
      display: none;
  }

}

@media (min-width: 950px) {
  .tel {
      display: none;
  }
}

@media screen and (max-width: 950px) {

  .vertical {
    flex-flow: column nowrap;
  }

  .trois_blocks {
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    margin-bottom: 1em;
  }

  .carrousel_secondaire {
    margin-bottom: 1em;
  }

  .carrousel_principal img{
    width: 100%;
  }
}
