/*zone transparente qui englobe le tout */
.vertical {
    display: block;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 1em;
    width: 100%;
    background-color: rgba(68, 57, 97, 0.90);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
}

/* zone séparée en 2 avec à gauche les images et à droite le texte */
.horizontal{
    display:flex;
    flex-flow: row nowrap;
    background-color: rgb(68,57,97);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    padding: 0.5em 0.5em 0em 0.5em;
    margin: 2em 0 2em 0em;
}

/*zone de texte dans le bloc de droite */ 
.text{
    padding: 1em;
}

.text p{
    text-align: left;
}

/*zone des photos dans le bloc de gauche qui s'appelle pictures*/
.zone_pictures {
    display: flex;
    flex-direction : row;
    align-items: center;
}

.pics img{
    width: 100%;
    width: 100%;
    margin: auto;
    margin-bottom: 0.5em;
    justify-content: space-evenly;
}

.pics {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin: 0em 0.5em 0em 0em;
}

