
  .vertical {
    display: flex;
    flex-flow: column nowrap;
  }


.bureau h2, .membres h2 { 
    display: block;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    width: 30%;
    background-color: rgba(68, 57, 97, 0.75);
}

  .trois_blocks {
    justify-content: center;
    display: flex;
  }

  .trois_blocks_couleur {
    justify-content: center;
    display: flex;
    background-color: #443961;
    margin-left: 3.125em;
    margin-right: 3.125em;
  }
  
  
  .image_qui_bureau {
    margin-left: 3.125em;
    margin-right: 3.125em;
    padding: 1em;
    background-color: #443961;
    color: white;
    flex-direction: row;
    justify-content: space-between;
  }

  .image_qui_membre {
    margin: auto;
    background-color: #443961;
    color: white;
    flex-direction: row;
    justify-content: space-between;
  }

  .image_qui_bureau img {
    width: 9.375em;
    height: 9.375em;
  }

  .image_qui_membre img {
    width: 15.625em;
    height: 6.875em;

  }
    
    footer {
  background-color: #00091A;
  color: #F4AAA1;
  }
    
  
    
    
