
  .vertical {
    display: flex;
    flex-flow: column nowrap;
  }

  .fond {
    display: flex;  
    align-items: center;
    flex-flow: column nowrap;
    background-color: rgba(68, 57, 97, 0.70);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    margin-top: 3em;
    width: 95%;
    

  }
.bureau {
  display: flex;  
  align-items: center;
  flex-flow: column nowrap;
  margin-top: 3em;
}

.membres {
  display: flex;  
  align-items: center;
  flex-flow: column nowrap;
  margin-top: 3em;
  margin-bottom: 2em;
}

.bureau h1, .membres h1 { 
    display: flex;
    justify-content: center;
    font-size: 3em;
    margin-bottom: 1em;
    text-align: center;
}

  .trois_blocks {
    justify-content: center;
    display: flex;
    padding: 1em;
    margin-bottom: 1em;
  }

  .trois_blocks_couleur {
    justify-content: center;
    display: flex;
    background-color: #443961;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 1em;
  }
  
  
  .image_qui_bureau {
    margin-left: 3.125em;
    margin-right: 3.125em;
    padding: 1em;
    background-color: #443961;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    color: white;
    flex-direction: row;
    justify-content: space-between;
  }

  .image_qui_membre {
    margin: auto;
    background-color: #443961;
    color: white;
    flex-direction: row;
    justify-content: space-between;
  }

  .image_qui_bureau img {
    width: 9em;
    height: 9em;
  }

  .image_qui_membre img {
    width: 15em;
    height: 8em;
    margin: 1em 1em 0em 1em;

  }

  p {
    display: flex;
    justify-content: center;
  }
    

   @media screen and (max-width: 790px) {

    .vertical {
      flex-flow: column nowrap;
    }

    .trois_blocks {
      flex-wrap: wrap;
      justify-content: center;
      height: auto;
      margin-bottom: 1em;
    }

    .image_qui_bureau {
      margin-top: 1em;
    }

    .trois_blocks_couleur {
      flex-wrap: wrap;
      justify-content: center;
      height: auto;
      margin-bottom: 1em;
    }

  }
